<a href="{{urls.home}}">
    <div class="header-logo-image-container">
        <img class="header-logo" src="{{cdn 'img/king.svg'}}" alt="king logo" title="{{settings.store_logo.title}}">
    </div>
</a>
