<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/goose-navigation}}
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/goose-navigation-menu}}
    </div>
</header>
