<nav class="navPages navPages--goose">
    <div class="header-logo header-logo--goose">
        <svg width="286.36px" height="137.96px" enable-background="new 0 -35.32 286.36 137.959" version="1.1" viewBox="0 -35.32 286.36 137.96" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path id="top" d="m120.32 1v-30.32c0-3.36-2.719-6-6-6h-6c-7.199 0-13.68 3.199-18.08 8.16-4.399-5.041-10.879-8.16-18.08-8.16-7.199 0-13.679 3.199-18.08 8.16-4.4-5.041-10.88-8.16-18.08-8.16h-6c-3.36 0-6 2.719-6 6v30.16m84.24-24.08v18.24h-12.08v-6.159-0.24c0.16-6.561 5.521-11.841 12.08-11.841zm-36.16 0c6.561 0 11.921 5.279 12.08 11.84v0.24 0.319 5.841h-24.159v-6.239c0-6.641 5.44-12.001 12.079-12.001zm-24.159 12v6.24h-12.08v-18.24c6.64 0 12 5.36 12.08 12z" clip-rule="evenodd" fill-rule="evenodd"/><path d="m120.4 67.52v-67.361l-96.32-0.159c0 10-8.16 18.079-18.08 18.079-3.359 0-6 2.72-6 6v72.48c0 3.358 2.721 6 6 6 17.76 0 33.521-8.562 43.44-21.762 3.6 12.32 14.8 21.36 28.08 21.762 0.319 0.08 0.56 0.08 0.88 0.08h36.24c10 0 18.08-8.16 18.08-18.08-0.24-7.84-5.28-14.56-12.32-17.039zm-108.64-13.76c4.48-0.881 8.561-2.801 12.08-5.439 0 7.84-5.04 14.56-12.08 17.04m24.16-59.122h72.4v6h-53.44c-0.319-0.08-0.56-0.08-0.88-0.08-0.319 0-0.64 0-0.88 0.08h-17.2v-6zm24.16 18.08h24.16v0.08c0 3.359 2.72 6 6 6s6-2.72 6-6v-0.08h12.08v12c0 10-8.16 18.08-18.08 18.08-3.36 0-6 2.72-6 6v5.438c-13.76-2.8-24.16-14.96-24.16-29.6m36.16 30.242v-0.642c4.48-0.88 8.561-2.8 12.08-5.438v6.08m-84.48-42.32c0 7.84-5.04 14.561-12.08 17.04v-11.599c4.48-0.881 8.56-2.801 12.08-5.441zm-12.08 66v-12.24c13.761-2.8 24.16-14.96 24.16-29.6v-24.08h12.08v24.08c0 21.281-15.76 38.88-36.24 41.84zm48.32-17.68v-6.642c7.68 7.842 18.4 12.722 30.16 12.722h23.44c0.238 0 0.479 0.08 0.64 0.08 3.36 0 6 2.72 6 6 0 3.358-2.72 6-6 6h-35.52c-0.239 0-0.479-0.08-0.72-0.08-9.92 1e-3 -18-8.08-18-18.08z"/><path d="m182.1 60.183c-2.006 1.711-4.779 1.652-6.608-0.354l-10.739-12.097v9.028c0 2.537-2.124 4.661-4.661 4.661-2.597 0-4.721-2.124-4.721-4.661v-34.34c0-2.537 2.124-4.661 4.721-4.661 2.537 0 4.661 2.124 4.661 4.661v8.851l9.677-11.093c1.771-1.947 4.721-2.183 6.668-0.413 1.947 1.652 2.184 4.662 0.472 6.609l-11.506 13.158 12.509 13.984c1.651 1.947 1.533 4.956-0.473 6.667z"/><path d="m192.49 61.423c-2.596 0-4.661-2.124-4.661-4.661v-34.342c0-2.537 2.065-4.661 4.661-4.661 2.597 0 4.662 2.124 4.662 4.661v34.342c0 2.537-2.065 4.661-4.662 4.661z"/><path d="m236.68 22.42v34.282c0 4.308-5.252 6.137-8.261 3.245-0.59-0.59-1.121-1.475-1.594-2.183-0.708-1.121-14.397-21.065-15.224-22.245v21.183c0 2.597-2.124 4.721-4.72 4.721-2.597 0-4.721-2.124-4.721-4.721v-34.282c0-2.537 2.124-4.661 4.721-4.661 1.593 0 2.773 0.767 3.776 2.006 1.003 1.298 10.975 15.813 16.64 24.075v-21.42c0-2.537 2.064-4.661 4.661-4.661s4.722 2.124 4.722 4.661z"/><path d="m284.12 40.534c-0.235 5.724-2.478 11.034-6.432 14.928-4.012 4.072-9.44 6.314-15.164 6.314-5.96 0-11.447-2.302-15.519-6.551-4.013-4.188-6.195-9.735-6.195-15.636 0-12.214 9.913-22.186 22.186-22.186 3.718 0 7.376 0.944 10.621 2.655 2.302 1.298 3.128 4.13 1.889 6.431s-4.131 3.127-6.373 1.889c-1.888-1.003-4.013-1.593-6.137-1.593-7.021 0-12.745 5.782-12.745 12.804 0 3.481 1.239 6.727 3.54 9.087 2.243 2.36 5.37 3.717 8.733 3.717 5.429 0 9.913-3.54 11.506-8.555h-10.798c-2.242 0-4.131-1.83-4.131-4.13 0-2.243 1.889-4.131 4.131-4.131h16.403c2.597 0.06 4.663 2.302 4.485 4.957z"/></svg>   
    </div>
    <ul class="navPages-list">
        {{#each categories}}
        <li class="navPages-item">
            {{> components/common/navigation-list}}
        </li>
        {{/each}}
    </ul>
    <div class="goose-quickSearch">
        <a class="goose-quickSearch-cta" href="{{urls.account.index}}">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
            </svg>
        </a>
        <div class="goose-quickSearch-content">
            {{> components/common/quick-search}}
        </div>
    </div>
</nav>
