.navPages--goose {
	@include flex(column, space-around, center);
	padding: 0 15px;
	@media #{$medium-up} {
		@include flex(row, space-around, center);
	}
}

ul.navPages-list {
	@media #{$medium-up} {
		padding: 15px;
		@include flex(row, space-around, align-top);
	}
}

.navPages-item:hover {
	.navPage-subMenu {
		display: block;
		left: 0;
		width: 100%;
	}
}

.header-logo--goose {
	cursor: pointer;
	opacity: 1;
	transition: all .2s;
	&:hover {
		opacity: 0.7;
	}
	svg {
		width: 100px;
		height: 70px;
		#top {
			transition: all 0.2s;
			transform: translateY(0px);
		}
		&:hover {
			#top {
				transform: translateY(-15px);
			}
		}
	}
}

.header-logo-image-container {
	width: 100px;
	height: 50px;
	img {
		margin: 0;
		transition: all 0.2s;
		&:hover {
			opacity: 0.7;
		}
	}
	&:after {
		padding: 0;
	}
}

.goose-quickSearch {
}

.goose-quickSearch-cta {
	svg {
		opacity: 0.6;
		transition: all 0.2s;
		transform: rotate(0deg);
		width: 20px;
		height: 20px;
	}
	&:hover {
		svg {
			opacity: 1;
			transform: rotate(-8deg);
		}
	}
	
	
}

.goose-quickSearch-content {
	display: none;
}
