.navUser--goose {
	@include flex(row, space-around, center);
	background-color: stencilColor("color-primary");
	color: stencilColor("color-greyLighter");
	@media #{$small-only} {
		padding: 10px 0 10px 60px;
	}
	@media #{$medium-only} {
		padding: 0 0 0 60px;
	}
	@media #{$large-only} {
		padding: 0;
	}
	.navUser-promo {
		padding: 0 5px;
		@media #{$small-only} {
			padding: 0;
			line-height: 1;
		}
		p {
			margin: 0;
		}
	} 
}