$width-modal: 480px;

body {
    right: 0;
    transition: all 0.4s;
    &.has-activeModal {
        right: $width-modal;
    }
}

.modal--goose {
    position: fixed;
    width: $width-modal;
    height: 100vh;
    top: 0 !important;
    left: calc(100% - #{$width-modal});
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate($width-modal, 0);
    max-height: 100%;
    max-width: 100%;
    @media #{$small-only} {
        width: 100%;
        left: 0;
        right: 0;
        padding: 0 10px;
    }
    &.open {
        transform: translate(0, 0);
    }
    .modal-content {
        width: 100%;
    }
    .form-field {
        margin: 80px 20px 0;
    }
}

.modal-background {
    background: rgba(0, 0, 0, 0.8);
}
